<div class="modal-dialog position-relative leave_modal">
    <div class="modal-content">
        <div class="modal-body">
            <p class="secondary font-21 font-500 text-center">Are You Sure You Want To Delete This {{title}}?
            </p>
            <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                <a>
                    <button type="button" class="cancel_modal_btn font-15 font-500 delete-icon-color"
                        data-bs-dismiss="modal" aria-label="Close" (click)="deleteFun()">Yes,
                        delete</button>
                </a>
                <a>
                    <button type="button" class="apply_modal_btn font-15 font-500" data-bs-dismiss="modal"
                        aria-label="Close">No, Do not
                        delete</button>
                </a>
            </div>
        </div>
    </div>
</div>