.imageSize{
    width: 350px;
    height: 150px;
    object-fit: contain;
}
.gif_image_class {
    padding-left: 245px;
    padding-top: 214px;
  }
  .image_gif{
    margin-top: -10rem;
    margin-left: 10rem;
    height: 400px !important;
    width: 400px !important;
    opacity: 0.5;
    pointer-events: none; 
}
.text-not-found{
    opacity: 0.4;
    width: 12rem;
    margin-top: -18rem;
}
