.image_gif{
    margin-top: 1rem;
    margin-left: 25rem;
    height: 400px !important;
    width: 500px !important;
    opacity: 0.6;
    pointer-events: none; 
    border-bottom-right-radius: 50%;
  }
