.pdf-icon {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 6rem; /* Adjust as needed */
  margin-right: 2rem; /* Adjust as needed */
  cursor: pointer;
  width: 32px;
}
.chart-css{
padding-top: 84px;
padding-bottom: 84px;
}